:root {
  --orange: #ff7b00;
  --white: white;
  --black: black;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: auto;
  color: #000;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Notoserifdisplay Variablefont Wdth Wght, sans-serif;
  font-size: 7rem;
  line-height: 7rem;
  display: flex;
  overflow: visible;
}

.background {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: #fff;
  background-image: url('../images/Grain-texture.png'), linear-gradient(#5f809c, #a1886e 28%, #1d1106 51%, #35638a 68%, #e6c59b);
  background-position: 0 0, 0 0;
  background-repeat: repeat-y, repeat;
  background-size: 100%, auto;
  background-attachment: fixed, scroll;
  position: relative;
  overflow: visible;
}

.ecosystem {
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.big-text-2 {
  z-index: 7;
  width: 70%;
  color: #fff;
  letter-spacing: .04em;
  -webkit-text-stroke-color: transparent;
  object-fit: fill;
  margin: 0% auto 10%;
  font-family: Notoserifdisplay Variablefont Wdth Wght, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
  text-decoration: none;
  display: block;
  position: relative;
  top: 57px;
}

.cloud-1 {
  z-index: 0;
  width: 100%;
  height: 20rem;
  opacity: .26;
  filter: blur(5px);
  object-fit: fill;
  border-radius: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cloud-1.cloud-1-_-position {
  opacity: .9;
  top: 39%;
}

.cloud-2 {
  z-index: 0;
  width: 100%;
  height: 346px;
  opacity: .6;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  mix-blend-mode: hard-light;
  object-fit: fill;
  object-position: 50% 50%;
  position: absolute;
  top: 4%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.cloud-2.cloud-2-_-position {
  top: 52%;
}

.rain {
  z-index: 1;
  width: 100%;
  height: 49%;
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border-radius: 2%;
  position: absolute;
  top: 55%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.big-text-3 {
  z-index: 5;
  width: auto;
  color: #fff;
  margin: 10% auto 0% 0%;
  font-family: Open Sans, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  position: relative;
  top: 0%;
}

.title-1 {
  z-index: 5;
  width: auto;
  min-width: 50%;
  color: #fff;
  margin: 0%;
  font-size: 4rem;
  line-height: 4.3rem;
  display: block;
  position: relative;
  top: 0%;
  left: 0%;
}

.title-1.title-1-_-highlighted {
  margin-top: 0%;
  margin-bottom: 5%;
}

.title-1.test {
  font-size: 4rem;
  line-height: 4rem;
}

.title-1.closing {
  text-align: center;
  margin-top: 16%;
  margin-bottom: 0%;
  top: 0%;
}

.dark-bg {
  z-index: 0;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(8, 8, 8, .24), rgba(0, 0, 0, .95));
  border-radius: 1rem;
  margin: 0% 4%;
  position: absolute;
  top: 48.5rem;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.body-1 {
  z-index: 5;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  display: block;
  position: relative;
}

.body-1.highlighted-text {
  z-index: 5;
  width: 69%;
  color: var(--orange);
  justify-content: flex-start;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0%;
  font-family: Notoserifdisplay Variablefont Wdth Wght, sans-serif;
  font-size: 7rem;
  font-weight: 500;
  line-height: 7rem;
  display: flex;
  position: relative;
}

.content-wrap {
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0%;
  padding: 10% 5% 5% 10%;
  display: flex;
  position: relative;
}

.wrap-_-content-2 {
  width: 100%;
  grid-row-gap: 0px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.icons {
  z-index: 1;
  width: 10rem;
  height: 10rem;
  max-width: 100%;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  left: 0;
  transform: skew(0deg);
}

.icons.icon-_-prepared {
  object-fit: fill;
}

.icons.icon-_-connected {
  width: 10rem;
  height: 10rem;
  object-fit: fill;
}

.icons-wrap {
  z-index: 20;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  top: -32%;
  left: 72%;
}

.connecting-line {
  z-index: 0;
  width: .5rem;
  height: 2.9rem;
  background-color: rgba(255, 255, 255, .21);
  border-radius: 100px;
  margin-top: 8.2rem;
  position: relative;
  top: 0%;
}

.connecting-line.connecting-line-spacing {
  margin-top: 7.1rem;
}

.div-block-2 {
  position: absolute;
}

.lines-wrap {
  width: auto;
  height: auto;
  grid-column-gap: 14%;
  grid-row-gap: 14%;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
}

.sun-light {
  z-index: 1;
  width: 50vw;
  height: 20rem;
  opacity: .57;
  filter: blur(10px);
  pointer-events: auto;
  mix-blend-mode: hard-light;
  background-image: url('../images/Sun---site.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  position: absolute;
  top: 35%;
  bottom: auto;
  left: -1%;
  right: auto;
  transform: rotate(0);
}

.what-is-zenith {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  display: flex;
  position: relative;
}

.wrap-_-content-1 {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-gap: 5.6rem;
  grid-row-gap: 5.6rem;
  flex-flow: column;
  margin-bottom: 0;
  padding: 10% 10% 20%;
  display: flex;
}

.div-block-4 {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-direction: column;
  padding: 13% 10% 10%;
  display: flex;
}

.zenith-icon {
  z-index: 20;
  width: 20%;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.wrap-_-content-3 {
  grid-column-gap: 2rem;
  grid-row-gap: 2.75rem;
  flex-direction: column;
  margin-top: 10%;
  display: flex;
}

.products {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  flex-flow: column;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  position: relative;
}

.desktop-mock-1 {
  width: 60%;
  position: relative;
  left: 8%;
}

.mobile-mock-1 {
  width: 30%;
  margin-right: 0%;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.go-mock-1 {
  width: 20%;
  position: relative;
  top: 38%;
  bottom: 40%;
  left: 75%;
  right: 40%;
}

.button-regular-next {
  z-index: 50;
  width: 100%;
  max-width: 425.729px;
  grid-column-gap: 11.1667px;
  background-color: #ff7b00;
  border: 1.39583px solid rgba(255, 255, 255, .1);
  border-radius: 22.3333px;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
  padding: 22.3333px;
  text-decoration: none;
  display: flex;
  position: relative;
  box-shadow: 0 5.58333px 22.3333px rgba(0, 0, 0, .16), inset 0 -1.39583px 2.79167px rgba(0, 0, 0, .25), inset 0 1.39583px 2.79167px rgba(255, 255, 255, .25);
}

.button {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.closing {
  flex-direction: column;
  align-items: center;
  margin: 10% 0%;
  display: flex;
  overflow: visible;
}

.more-butt {
  width: 10%;
  position: relative;
  top: 44%;
}

.body-2 {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.scroll-down {
  width: 100%;
  height: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15%;
  display: flex;
  position: absolute;
  top: 25%;
  left: 6%;
}

.hero {
  height: 58vh;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.title-2 {
  z-index: 100;
  width: 100%;
  color: #fff;
  object-fit: fill;
  margin-top: 0%;
  margin-left: 0%;
  font-size: 3rem;
  line-height: 3.5rem;
  display: block;
  position: static;
  overflow: visible;
}

.nc {
  width: 70%;
  color: #fff;
  margin-left: 0%;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.div-block-5 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-flow: column;
  padding-top: 0%;
  padding-left: 10%;
  display: flex;
  position: absolute;
}

.body-3 {
  width: 70%;
  filter: none;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7rem;
}

.title-test {
  width: 70vw;
  color: #fff;
  font-size: 4rem;
  line-height: 3.9rem;
}

.play-pause-button {
  width: auto;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 80%;
  right: 0%;
}

.background-video {
  width: 100vw;
  height: 100vh;
  filter: brightness(30%);
  color: #fff;
  object-fit: cover;
  object-position: 50% 50%;
  position: static;
}

.div-block-6 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  position: relative;
}

.div-block-7 {
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  margin-top: 4%;
  display: flex;
}

.go {
  width: 44%;
  aspect-ratio: auto;
  object-fit: fill;
  margin-right: 0%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 44%;
  right: 0%;
}

.portal {
  width: 100%;
}

.div-portal {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  margin-left: 10%;
  margin-right: 105px;
  padding-right: 0%;
  display: flex;
}

.image-2 {
  width: 30%;
  position: absolute;
  top: 0;
}

.image-3 {
  width: 23%;
  position: absolute;
  top: 81%;
  left: 98px;
}

.image-4 {
  width: 60%;
  position: relative;
  top: -19px;
  left: 133px;
}

.image-5 {
  z-index: 6;
  width: 54%;
  position: absolute;
  top: 85%;
  bottom: 0%;
  left: 30%;
  right: 0%;
}

@media screen and (min-width: 1920px) {
  .background {
    width: 100%;
    background-color: #fff;
    background-image: url('../images/Grain-texture.png'), linear-gradient(#5f809c, #a1886e 28%, #1d1106 51%, #35638a 68%, #e6c59b);
    background-repeat: repeat-y, repeat;
    background-size: 100%, auto;
  }

  .cloud-1.cloud-1-_-position {
    height: auto;
    top: 32%;
  }

  .cloud-2 {
    height: auto;
  }

  .title-1 {
    font-size: 8rem;
    line-height: 8rem;
    top: 0%;
  }

  .title-1.closing {
    width: 66%;
    min-width: auto;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16%;
    margin-bottom: 5%;
    position: relative;
    top: 5%;
  }

  .dark-bg {
    top: 90rem;
  }

  .icons-wrap {
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }

  .products {
    grid-column-gap: 15rem;
    grid-row-gap: 15rem;
  }

  .button-regular-next {
    width: 34%;
    height: auto;
    max-width: none;
    margin-top: 2%;
  }

  .image {
    width: 2%;
    position: absolute;
  }

  .scroll-down {
    left: 8%;
  }

  .title-2 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .body-3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .background-video {
    background-color: rgba(63, 86, 136, .53);
  }

  .div-portal {
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
  }

  .image-3 {
    top: 81%;
    left: 147px;
  }

  .image-4 {
    top: 50%;
    left: 228px;
  }

  .image-5 {
    width: 50%;
    top: 86%;
    left: 28%;
  }
}

@media screen and (max-width: 991px) {
  .body {
    aspect-ratio: auto;
    overflow: visible;
  }

  .background {
    overflow: visible;
  }

  .title-1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .title-1.closing {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .dark-bg {
    top: 34.7rem;
  }

  .body-1 {
    font-size: 1.5rem;
  }

  .icons, .icons.icon-_-prepared, .icons.icon-_-connected {
    width: 7rem;
    height: 7rem;
  }

  .connecting-line {
    width: .3rem;
    height: 1.9rem;
    margin-top: 5.8rem;
    position: absolute;
    top: 100%;
  }

  .connecting-line.connecting-line-spacing {
    width: .3rem;
    height: 1.9rem;
    margin-top: 12.7rem;
    position: absolute;
    top: 40%;
  }

  .lines-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .sun-light {
    width: 100%;
  }

  .form-block {
    font-size: 4rem;
  }

  .nc {
    width: auto;
    color: #fff;
    margin-left: 10%;
    font-size: 5rem;
    line-height: 5rem;
  }

  .go {
    top: 88%;
  }

  .image-3 {
    top: 83%;
  }

  .image-5 {
    top: 87%;
  }
}

@media screen and (max-width: 767px) {
  .big-text-2 {
    flex: 0 auto;
    font-size: 3rem;
    line-height: 3rem;
  }

  .cloud-2 {
    height: auto;
  }

  .title-1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .title-1.title-1-_-highlighted {
    margin-bottom: 7%;
    font-size: 4rem;
  }

  .title-1.closing {
    width: 80%;
    min-width: auto;
    margin-top: 39%;
    margin-bottom: 6%;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .dark-bg {
    top: 39.8rem;
  }

  .content-wrap {
    padding-top: 15%;
  }

  .products {
    grid-column-gap: 13.2rem;
    grid-row-gap: 13.2rem;
    margin-top: 20%;
  }

  .desktop-mock-1 {
    width: 90%;
    top: 43%;
    left: 0%;
  }

  .mobile-mock-1 {
    z-index: 5;
    width: 50%;
    top: -34%;
    left: auto;
  }

  .go-mock-1 {
    z-index: 6;
    width: 50%;
    top: 94%;
    left: auto;
    right: auto;
  }

  .closing {
    margin-top: 30%;
    margin-bottom: 25%;
    position: relative;
    top: 0%;
  }

  .body-3 {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .go {
    width: 70%;
    top: 100%;
    left: 20%;
  }

  .image-3 {
    width: 30%;
    top: 11%;
    left: 32px;
  }

  .image-4 {
    width: 81%;
    left: 0;
  }

  .image-5 {
    width: 70%;
    top: 26%;
    left: 25%;
  }
}

@media screen and (max-width: 479px) {
  .cloud-1.cloud-1-_-position {
    height: auto;
    top: 48%;
  }

  .cloud-1.cloud-1-1, .cloud-2 {
    height: auto;
  }

  .cloud-2.cloud-2-_-position {
    height: auto;
    top: 57%;
  }

  .rain {
    height: 20%;
    top: 59%;
  }

  .title-1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .title-1.title-1-_-highlighted {
    font-size: 2rem;
  }

  .title-1.closing {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .dark-bg {
    height: 50%;
    position: absolute;
    top: 26.5rem;
  }

  .value {
    margin-top: 25%;
  }

  .body-1 {
    font-size: 1rem;
  }

  .content-wrap {
    top: 0%;
  }

  .icons {
    width: 3rem;
    height: 3rem;
  }

  .icons.icon-_-prepared {
    width: 3rem;
    height: 3rem;
    font-size: 5rem;
    line-height: 5rem;
  }

  .icons.icon-_-connected {
    width: 3rem;
    height: 3rem;
  }

  .connecting-line {
    width: .2rem;
    height: .2rem;
    margin-top: 3.2rem;
  }

  .sun-light {
    height: 9.9rem;
    opacity: .3;
    object-fit: scale-down;
  }

  .what-is-zenith {
    margin-top: 25%;
  }

  .div-block-4 {
    height: auto;
    margin-top: 45%;
    padding-top: 0%;
    position: absolute;
    top: 50%;
  }

  .products {
    margin-top: 50%;
  }

  .desktop-mock-1 {
    width: 80%;
    top: 47px;
    left: auto;
  }

  .mobile-mock-1 {
    z-index: 5;
    width: 50%;
    top: -3%;
  }

  .go-mock-1 {
    width: 50%;
    top: 125%;
    left: auto;
  }

  .button-regular-next {
    width: 70%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .title-2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .body-3 {
    font-size: .7rem;
    line-height: 1rem;
  }

  .div-block-6 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div-block-7 {
    margin-top: 0%;
  }

  .go {
    top: 115%;
  }

  .div-portal {
    width: 80%;
  }

  .image-6 {
    width: 100%;
  }
}


@font-face {
  font-family: 'Playball Q 6 O 1';
  src: url('../fonts/Playball-q6o1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vcr Osd Mono 1';
  src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Notoserifdisplay Variablefont Wdth Wght';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Notoserifdisplay Variablefont Wdth Wght';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}